*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: sans-serif;
    margin: 0.5rem;
}
nav{
    border: 2px solid rgb(74, 74, 74);
    border-radius: 2rem;
    
    margin:0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;

}

h2{
    background-color: darkorange;
    border-radius: 2rem 2rem 0 0;
}
ul{
    list-style-type:none;
 
}
li{
    border-top: 1px solid black;
    cursor: pointer;

}
li a{
    display: block;
    
}
li:last-child a{
    border-radius: 0 0 2rem 2rem;
}
li a,li :visited{
    text-decoration: none;
    color: black;
}
li :hover{
    background: rgb(116, 116, 116);
    color:rgb(0, 0, 0);
}
